{
margin: 0;
padding: 0;
    }
body{font-family: 'Anek Gurmukhi', sans-serif;
    font-family: 'Mukta', sans-serif;
font-size: 16px;
}

.container{

    margin: 0 auto;
    width: 80%;
    max-width: 1280px

   
}

.button_oder {

border: 0;
background-color: #3243c7;
color: white;
font-size: 18;
font-weight: bold;
text-transform: uppercase;
width: 150px;
height: 50px;
padding: 25 0;


}



.header { background-color: #f9d9eb;}
{margin: 0 auto;
width: 700px;}







.header_top_menu_left{
display: inline-block;
width: 69px;
height: 60px;
background-image: url(images\Icon.png);
margin: right;


 
}


.header__list {
    display: flex;
    height: 100%;
    margin-left: 600px;
    padding: 0;
    justify-content: space-evenly;
    list-style-type: none;
}
.header_top_menu {
    display: inline-block;
    width: 796px;
    height: 501px;
    background-image: url(images\qq1.png);
    margin-right: 600px;
   
    


}

.header_wraper H1{
font-size: 78;
margin-right: 600px;


}
.header_wraper p {
    font-size: 16;


}

.header_content {

   margin-left: 400px;

}


.Software {
background-color: white;
padding: 105px 0;




}






.Visitors {
    background-color: #f4f5f7;
    padding: 130px 0;


}
.Visitor_text {

text-align: center;

}

.Visitor_text p {
font-size: 18px;



}

.Visitor_text H1 {
    font-size: 78px;


}

.Visitor_text H4 {

    font-size: 24px;

}


}


.Millions {
    background-color:  white;
    padding: 200px 0;





}

.Millions_content {

margin-left: 400px;



}


.Millions_text {
    text-align: left;

}


.Millions_text p {

    font-size: 18px;
    color: #b3b2b3



}

.Millions_text h1 {
    font-size: 78px;



    
}

.Millions_text h4 {
    font-size: 24px;



    
}

.Start {
    background-color: #f4f5f7;
    padding: 108px 0;




}

.Start_text {


}

.Start_text h1 {
    font-size: 78px;



}


.Start_text p {
    font-size: 24px;
    
}

.Start_wraper {
text-align: right;



}


.Footer_top {
    background-color:  white;
    padding: 90px 0;




}

.Footer_bot {
    background-color:  white;
    padding: 27px 0;
border-bottom: 2px solid; #eaeaea

}



.Footer_top_menu_right: a; not (:first-child)   {
    margin-right: auto;

}

.footer_tip_social{
max-width: 100%;
    height: auto;
    display: block;
}

}